@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out-fireworks {
   0% {
    opacity: 1;
   }
   80% {
     opacity: 1;
   }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
 0% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}

@keyframes fade-in-selector {
 0% {
   opacity: 0;
 }
 100% {
   opacity: 0.4;
 }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

.avatar-icon {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 10;
}

.checkmark {
  position: absolute;
  top:35%;
  z-index: 10;
  background-color: white;
  border: 2px solid #E4BC58;
  justify-content: center;
  align-items: center;
  border-radius: 2.5em;
  padding: 3em;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
}

.fade-out {
  animation: fade-out 0.5s linear forwards;
}

.fade-out-fireworks {
  animation: fade-out-fireworks 2s linear forwards;
}

.fade-in {
  animation: fade-in 0.5s linear forwards;
}

.disclaimer {
  background-color: white;
  border: 2px solid #E4BC58;
  border-radius: 2.5em;
  position: absolute;
  top: 15%;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  flex-direction: column;
  padding: 3em;
  display: none;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.container {
  width: 85%;
  height: 80%;
  background-image: url("img/avatar1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.hide {
  display: none;
}

.avatarcontainer {
  background-color: white;
  border: 2px solid #E4BC58;
  border-radius: 2.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  height: 60%;
  width: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  padding:3em;
}

.avatarimg {
  object-fit: cover;
  height:17%;
  width: 34%;
  position: center;
  object-position: 100% 0%;
  margin-right: 5%;
  margin-left: 5%;
  border-style: double;
  border-radius: 20px;
  border-color: black;
  
}

.avatarbutton {
  position:absolute;
  left:90%;
}

.selector {
  background-color: #FADADD;
  width: 70%;
  height: 24%;
  position: absolute;
  opacity: 0.4;
  left: 15%;
}

.button {
  font-size: 2.5em;
}

.symptomscontainer {
  background-color: white;
  border: 2px solid #E4BC58;
  border-radius: 2.5em;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding:3em;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.recordButton {
  margin: 2em 0em 0em 0em;
  background: #FF6F61;
  border: 1px solid #FF6F61;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  line-height: 16px;
  padding: 1.0em;
  text-align: center;
  text-rendering: geometricprecision;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100%;
}

.saveExitDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.noButton {
  margin: 2em 0em 0em 2em;
  background: #6D4C41;
  border: 1px solid #6D4C41;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  line-height: 16px;
  padding: 1.0em;
  text-align: center;
  text-rendering: geometricprecision;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100%;
}


.recordButton:hover,
.recordButton:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF6F61;
}

.recordButton:active {
  opacity: .5;
}

.symptomrow {
  display: flex;
  align-items: center;
  padding: 1em 1em 1em 1em;
}

.symptomrow .checkbox {
  border: 2px solid #E4BC58;
  border-radius: 5px;
  width: 3em;
  height: 3em;
  margin: 0px 20px 10px 0px;
}

.symptomrow .checkbox-active {
  border: 2px solid #E4BC58;
  border-radius: 5px;
  width: 3em;
  height: 3em;
  margin: 0px 20px 10px 0px;
  background-color: #F7E7CE;
}

.symptomrow .label {
  font-size: 2em;
}

.exitButton {
  margin: 2em 0em 0em 0em;
  background: #6D4C41;
  border: 1px solid #6D4C41;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  line-height: 16px;
  padding: 1.0em;
  text-align: center;
  text-rendering: geometricprecision;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100%;
}

.exitButton:hover,
.exitButton:active {
  background-color: initial;
  background-position: 0 0;
  color: #6D4C41;
}

.exitButton:active {
  opacity: .5;
}
